.hero{
    width: 100%;
    display: flex;
}

.hero-text{
    width: 40%;
    color:black;
    padding-top: 250px;
    padding-left: 30px;
}
.hero-text>header{
    font-size:2rem;
    padding-bottom: 20px;
}

.hero-text>span{
    font-size:1.1rem;
}

.hero-image{
    width: 60%;
}

.hero-button{
    width: auto;
    padding: 5px 10px 5px 10px;
    font-size:1.2rem;
    background: -webkit-linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: #00000043;
}