.comment-image{
    width:20%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .comment-image>img{
    height: 200px;
    border-radius: 50%;
  }
  .comment-text{
    width: 60%;
    padding: 20px 30px 20px 30px;
    height: 2rem;
  }
  .comment-stars{
    display:flex;
    margin-left: auto;
  }
  .comment-stars>img{
    width:16px;
  }
  .comment-text>div{
    background: #fff;
    padding: 10px 20px 10px 20px;
    border-radius:10px;
  }
  .comment-name{
    align-items: center;
    display: flex;
    font-size:1.2rem;
    font-style:italic;
    font-weight: 500;
    padding-bottom: 5px;
  }
  .comment-review{
    font-size:1.1rem;
  }
  .comment-date{
    text-align: right;
    font-style:italic;
    font-size:0.8rem;
  }
  .comment-left-arrow{
    width: 5%;
    margin-left: 2%;
  }
.comment-left-arrow:hover{
  cursor:pointer;
}
  .comment-left-arrow>img{
    width: 100%;
  }
  .comment-right-arrow{
    width: 5%;
    margin-right:3%;
  }
.comment-right-arrow:hover{
  cursor:pointer;
}
  .comment-right-arrow>img{
    width: 100%;
  }
.comment-wrapper{
    width:90%;
    display: flex;
    justify-content: center;
    height: 70%;
}
.comment{
  display: flex;
  width: 100%;
  height: 300px;
  align-items: center;
  background: none;
}